html,
body,
:global(#root) {
  font-family: "Microsoft YaHei";
  /* font-family: "Microsoft YaHei", "Arial Narrow", Arial, sans-serif; */
  font-size: 14px;
  line-height: 1;
  color: #333333;
  letter-spacing: 1px;
  box-sizing: content-box;
  /* height: 100%; */
  background-color: #ffffff;
}

/* 关于表格的全局样式 */
:global(.ant-table-thead > tr > th) {
  background-color: #e3e3e3;
}

:global(.ant-table-small > .ant-table-content > .ant-table-body) {
  margin: 0;
}

:global(.evenRow) {
  background-color: #f8f8f8;
}

:global(.oddRow) {
  background-color: #ffffff;
}
